%h2
  Read Online Documentation

%p
  %ul
    %p
      %li
        %a{:href => "files/robinbird.pdf"} RB&trade; Machine Learning Library Document
        <br>
        <br>
      %li
        %a(href="https://www.nxp.com/docs/en/nxp/user-guides/UM11226.pdf") eIQ&trade; Machine Learning Software Document
        <br>
        <br>
      %li
        %a(href="https://community.nxp.com/community/eiq") eIQ&trade; Machine Learning Software Community

-#      %img{:src => "download.jpg"}
-#        RB&trade; Documentation


-#
-#%p
-#  :markdown
-#    # Greetings
-#
-#
-#    ```bash
-#    $ aaa
-#    ```
-#-->
