%strong
  Robin Bird (RB&trade;) is small, experimental and learning purpose open-source C++ machine learning library.  
%p
  This library provides simple implementations of Machine Learning algorithms for solving real world problems on embedded systems. These algorithms are released as simple command-line programs and classes which can be used and integrated into low to medium-scale Machine Learning solutions.
%p

%strong
  %ul
    %ul
      Handwriting Digit Recognition running on i.MX8QM MEK Board totally based on RB&trade;

%ul
  %ul
    %iframe{:allowscriptaccess => "always", :allowFullScreen => "true", :frameborder => "0", :height => "430", :src => "https://www.youtube.com/embed/idY89707yFI", :title => "YouTube video player", :width => "640"}
 


-#%img{:alt => "Girl in a jacket", :src => "media/touch.jpg", :style => "width:500px;height:600px;"}
-# %img{:src => :height => "10", "rb.jpeg", :width => "10" }

%h2
  News

%strong
  RB&trade; 1.0 Released
%p 
  <em>November 12, 2019: Announced the official release of RB&trade; 1.0. This RB&trade; release includes:</em>
  %ul
    %p
      &rarr;<em>C++ classes that can be easily include in applications</em>;
    %p
      &rarr;<em>Command-lines applications to train and test a model</em>;
    %p
      &rarr;<em>Command-line application to run single inference on several types of images</em>;
    %p
      &rarr;<em>User interface application that runs inference in real time with touchscreen support</em>.
%ul
  %ul
    %iframe{:allowscriptaccess => "always", :allowFullScreen => "true", :frameborder => "0", :height => "430", :src => "media/touch.jpg", :title => "YouTube video player", :width => "640"}

%strong
  RB&trade; goes MIT
%p 
  <em>October 29, 2019: RB&trade; is distributed under the permissive MIT license.</em>

