%strong
  Robin Bird (RB&trade;) is small, experimental and learning purpose open-source C++ machine learning library.  
%p
  This library provides simple implementations of Machine Learning algorithms for solving real world problems on embedded systems. These algorithms are released as simple command-line programs and classes which can be used and integrated into low to medium-scale Machine Learning solutions.
%p

%strong
  Handwriting Digit Application running on i.MX8QM MEK Board totally based on RB&trade;:

%ul
  %ul
    %iframe{:allowscriptaccess => "always", :allowFullScreen => "true", :frameborder => "0", :height => "430", :src => "https://www.youtube.com/embed/idY89707yFI", :title => "YouTube video player", :width => "640"}


-# %img{:src => :height => "10", "rb.jpeg", :width => "10" }

%h2
  News

%strong
  RB&trade; 1.0 Released
%p 
  <em>October 29, 2019: Announced the official release of RB&trade; 1.0.</em>

%strong
  RB&trade; goes MIT
%p 
  <em>October 29, 2019: RB&trade; is distributed under the permissive license, see it below:</em> 


%h2

%p
  %ul
    <em>Copyright 2019 NXP Semiconductors</em>
%p
  %ul
    <em>Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the "Software"), to deal in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:</em>

%p
  %ul
    <em>The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.</em>

%p
  %ul
    <em>THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.</em>
