!!! 5
%html
  %head
    %title Robin Bird&trade; Machine Learning Library
    %meta{"http-equiv" => "Content-Type", :content => "text/html; charset=utf-8"}
    %link(rel="stylesheet" href="/css/style.css")
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script>
    function random() {
    document.getElementById("random").innerHTML = Math.floor(Math.random() * 10);
    }
    </script>
    
  %body
    #menu
      %ul
        %li
          %a(href="/") News
        %li
          %a(href="/download") Download
        %li
          %a(href="/quickstart") Quick Start
        %li
          %a(href="/documentation") Documentation
        %li
          %a(href="/training") Training
    #header
      %h1= @titulo
      %h2= @subtitulo
    #content
      = yield
    #footer
      %strong
        INTERNAL USE ONLY
        %img{:src => "https://img.shields.io/badge/License-MIT-yellow.svg"}
        &copy; 2019-2020 Diego Dorta, Marco Franchi

