%h2
  Quick Start
  
%strong
  How To Build an Image with RB&trade;

%p
1. Download the latest GNU/Linux BSP documentation available  
%a(href="https://www.nxp.com/design/i.mx-developer-resources/i.mx-software-and-development-tool:IMX-SW") here.
%ul
  %p
  1.1 Follow the steps from the Yocto Project User's Guide to create a build environment.
  %section
  NOTE: At the time this tutorial was written, the latest release available was L4.14.98-2.0.0_ga.

%p
  2. After downloading the source code, apply
  %a(href="patches/add-robin-bird-recipe.patch") this
  patch to the meta-fsl-bsp-release meta layer.
  %ul
    %p
      %pre
      %code
        :preserve
          $ cd <bsp_dir>/sources/meta-fsl-bsp-release
    %p
      %pre
      %code
        :preserve
          $ git am <patch_dir>/add-robin-bird-recipe.patch   

%p
  3. Create the build directory:
  %ul
    %p
      %pre
      %code
        :preserve
          $ DISTRO=fsl-imx-xwayland MACHINE=imx8qmmek source fsl-setup-release.sh -b build-xwayland

%p
  4. Include the following lines at the end of the <bsp_dir>/build-xwayland/conf/local.conf file:
  %ul
    %p
      %pre
      %code
        :preserve
          IMAGE_INSTALL_append += "robin-bird"

%p
  5. Build the image:
  %ul
    %p
      %pre
      %code
        :preserve
          $ bitbake fsl-image-qt5


%strong
  How to Start with an Image
  
%p
  1. Retrieve one of the following images:
  %ul
    %strong
      %a(href="images/fsl-image-qt5-imx8qmmek-20191024163032.rootfs.sdcard.bz2") fsl-image-qt5-imx8qmmek-20191024163032.rootfs.sdcard.bz2
    %strong
      %a(href="images/fsl-image-qt5-imx8mmevk-20191026015747.rootfs.sdcard.bz2") fsl-image-qt5-imx8mmevk-20191026015747.rootfs.sdcard.bz2

%p
  2. Uncompress the image using bzip2 tool:
  %ul
    %p
      %pre
      %code
        :preserve
          $ bunzip2 -f &lt;image&gt;.sdcard.bz2
%p
  3. Flash the image to the SD Card:
  %ul
    %p
      %pre
      %code
        :preserve
          $ dd if=image.sdcard of=/dev/sd&lt;x&gt; bs=1M status=progress && sync

%p
  4. Retrieve the latest RB&trade; model:
  %ul
    %strong
      %a(href="models/2019_07_17_14_37_26_100_hwd-model.rb") 2019_07_17_14_37_26_100_hwd-model.rb
  
  %ul
    %p
      %pre
      %code
        :preserve
          # wget &lt;model&gt;.rb
    %ul
%p
  5. Execute the application using the model as an argument:
  %ul  
    %p
      %pre
      %code
        :preserve
          # handWrittenDigitInput &lt;model&gt;.rb
